<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Baraka.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A40D2E22840E84800FA1848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A40D2F82840E84A00FA1848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A40D3022840E84A00FA1848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
